:root {
    --dark-blue: #264653;
    --turquoise: #2A9D8F;
    --yellow: #E9C46A;
    --orange: #F4A261;
    --red-orange: #E76F51;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--dark-blue);
    color: var(--yellow);
}

.dashboard {
    text-align: center;
    background-color: var(--turquoise);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#visualization {
    display: flex;
    align-items: flex-end;
    height: 80%;
    width: 100%;
    border: 1px solid var(--red-orange);
    margin-top: 20px;
    background-color: var(--yellow);
}

.bar {
    width: 20px;
    margin: 2px;
    background-color: var(--orange);
}

button {
    background-color: var(--red-orange);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: var(--orange);
}

#controls {
    margin-top: 20px;
}

#speedControl {
    margin-left: 10px;
}